<div class="card">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Jack" style="width:100%">
    <h1>Jack</h1>
    <p class="title">CEO & Founder, Example</p>
    <p>XYZ University</p>
    <div style="margin: 24px 0;">
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a>  
      <a href="#"><i class="fa fa-linkedin"></i></a>  
      <a href="#"><i class="fa fa-facebook"></i></a> 
    </div>
    <p><button>Contact</button></p>
  </div>

  <br>
  
<mat-divider></mat-divider>
  <br>